<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav">    
          <li class="nav-item" (click)="router.navigate(['/allTeams'])"><a class="nav-link">All Teams</a></li>
          <li class="nav-item" (click)="router.navigate(['/matchResults'])"><a class="nav-link">Match Results</a></li>
          <li>
            <a class="nav-link nav-item dropdown-toggle" data-bs-toggle="dropdown">Top 5</a>
            <ul class="dropdown-menu">
              <li (click)="router.navigate(['/topOffensive'])"><a class="dropdown-item">Offensive Teams</a></li>
              <li (click)="router.navigate(['/topDefensive'])"><a class="dropdown-item">Deffensive Teams</a></li>
            </ul>
          </li>
          <li class="nav-item" (click)="router.navigate(['/highlight'])"><a class="nav-link">Highlight Match</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container text-center">
    <h3>HOOP SHOOT</h3>
    <p>Come and checkout some basketball statistics</p>
    <p>Use the navigation bar to load the different views</p>
    <br>
    <router-outlet></router-outlet>
  </div>